#files

*.midi
*.wav
*.WAV
*.out
*.o
*.s
*.cdl
*.out
*.json
*~
*.swp
*.swo
*.swn
*.mov
*.MOV
*.avi
*.AVI
*.jpeg
*.jpg
*.png
*/example
*.webm
*.webp
*.DS_Store

.vscode/
.venv/
.idea/
cmake-build-debug/
cmakefiles/

.cache/
.cmakecache.txt
cmake_install.cmake
gitignore/

presentaties/
csd2b/ciskadingen/
aantekeningen/
csd2a/python_basics/audio_cat/

*.DS_Store
#cmake
*cmake-build-dir*
# cmakelists.txt

#JUCE
# JUCE/

build/

ciskaclone/

